html {
  background: #212121;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  margin: 0 auto;
  margin-top: 10vmin;
  text-align: center;
  color: white;
}

h1 {
  opacity: .9;
  font-size: 6vmin;
  animation: fadeIn 1s;
}

h2 {
  color:#404040;
}

a {
  color: orange;
  opacity: .75;
  font-size: 2vmin;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 9}
}
